html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(100, 51, 140);
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:"hdr hdr" 
                        "mn asd"
                        "ftr ftr";
    /*nomes assim so pra mostrar que pode usar qualquer nome
    use "." para deixar a area vazia
    */
}

header {
    grid-area: hdr;
    background: aliceblue;
}

main {
    grid-area: mn;
    background: salmon;
}

aside {
    grid-area: asd;
    background: black;
}

footer {
    grid-area: ftr;
    background: brown;
}