@charset "UTF-8";

@media screen and (min-width:500px){
    body {
        font-size: .9em;
    }
    header {
        background: rgba(0, 0, 0, 0.2);
        justify-content: space-between;
        padding: 1rem 2rem;
        position: absolute;

    }
    header div.header-logo {
        color: #292929;
        font-size: 1.5em;
    }
    #headerButton {
        display: none;
    }
    .hidedesk {
        display: none;
    }
    header #navItems {
        display: block;
        background: none;
        position: static;
        padding: 0;
    }
    #navItems ul {
        color: aliceblue;
        position: relative;
        display: flex;
        font-weight: 400;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

    }
    #navItems ul li {
        padding: 0;
        height: 3rem;
        display: flex;
        align-items: center;
    }
    #navItems ul li a {
        color: aliceblue;
        text-shadow: 0 0 5px black;
    }
    ul li.subscribe {
        backdrop-filter: blur(2px);
        border: 2px solid aliceblue;
        margin-left: 1rem;
    }
    ul li.subscribe:hover {
        background: white;
        
    }
    ul li.subscribe a {
        padding: 0 1rem;
    }
    main section.main-home {
        background-position: center;
        height: 150vh;
    }
    div.main-home-title {
        text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.459);
        padding-left: 4em;
        padding-bottom: 2rem;
        align-items: left;
        justify-content: end;
        height: 40%;
    }
    div.main-home-title h2 {
        color: rgb(255, 0, 0);
    }
    div.main-home-title div.horizontal-bar {
        align-self: flex-start;
    }
    section.main-about {
        height: 60%;
        padding-bottom: 0;
        background: none;
        align-items: flex-end;
    }
    section.main-about article {
        justify-content: end;
        padding-bottom: 10rem;
    }
    section.main-articles article {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: .8em;
    }
    div.main-home-title {
        font-size: 1.3em;
    }
    div.main-articles-content {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        font-size: .8em;
    }
    div.main-articles-item {
        width: 25%;
        height: 25rem;
    }
    section.main-subscribe {
        max-width: 50rem;
        margin: auto;
    }
    section.main-subscribe form {
        align-items: center;
    }
    section.main-subscribe form input[type="email"] {
        width: 30rem;
    }
    section.main-subscribe form input[type="submit"] {
        width: 10rem;
        height: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: .9em;
    }
    header {
        padding: 1rem 3rem;
    }
    div.main-articles-item {
        height: 35rem;
    }
}

@media screen and (min-width: 1700px) {
    body {
        font-size: 1.5em;
    }
    header{
        height: 10rem;
        font-size: 1.9rem;
        width: 1440px;
        left: 50%;
        translate: -50% 0;
    }

    section.main-about {
        height: 50%;
    }
    div.main-home-title {
        height: 50%;
    }
    section.main-about article {
        justify-content: end;
        padding-bottom: 15rem;
    }
    main > section {
        max-width: 1440px;
        margin: auto;
    }
    div.main-articles-item {
        height: 40rem;
    }
}